/* ALL PAGES: Sticky header */
.header {
    position: sticky;
    top: 0;
    padding: 0px 0px;
    margin: 0;
}

/* ALL PAGES: Border */
body {
    border: 4px solid black; 
    margin: 0;             
    padding: 0px 0px;
}

/* ALL PAGES: Fonts */
@font-face {
  font-family: 'CyberFont';
  src: url('./Fonts/SPACE.otf') format('opentype');
}

@font-face {
  font-family: 'CyberFontSmall';
  src: url('./Fonts/Universa-DEMO.otf') format('truetype');
}

/* HOME PAGE: Button styling */
.button img {
    width: 100%;
    height: auto;
    border: 3px solid black;
    display: block; 
    object-fit: cover;
}

.button {
    padding: 0;
    border: 3px solid black;
    background: none;
    transition: box-shadow 0.3s ease;
}

.button:hover {
    box-shadow: 0 0 20px 10px rgba(173, 255, 202, 0.8); 
}

/* CYBERPUNK PAGE: Background */
.CyberpunkBG {
  background-image: url("./Images/CyberpunkBG.jpg");
  background-repeat: repeat;
  background-position: center;
}

/* CYBERPUNK PAGE: Campaign length styling */
.CampaignContainer {
  border: 5px solid black; 
  border-radius: 12px;
  background-color: #f9f9f9; 
  max-height: 80vh;
  height: auto;
  overflow-y: auto;
  box-shadow: 4px 9px 9px grey;
}

.CampaignText {
  font-family: 'CyberFontSmall', sans-serif;
  font-size: 35px;
  text-align: center;
  text-shadow: 
    -0.5px -0.5px 0 #ccda38,  
    0.5px -0.5px 0 #ccda38,
    -0.5px 0.5px 0 #ccda38,
    0.5px 0.5px 0 #ccda38;
  padding-top: 4px;
}

/* CYBERPUNK PAGE: Message styling */
.ContainerHeading {
  font-family: 'CyberFont', sans-serif;
  font-size: 32px;
  text-align: center;
  text-shadow: 
    -0.5px -0.5px 0 #fb7272,  
    0.5px -0.5px 0 #fb7272,
    -0.5px 0.5px 0 #fb7272,
    0.5px 0.5px 0 #fb7272;
  padding-bottom: 0px;
}

.MessageContainer {
  border: 5px solid black; 
  border-radius: 12px;
  padding: 10px;
  background-color: #f9f9f9; 
  max-height: 80vh;
  height: auto;
  overflow-y: auto;
  margin: 15px; 
  box-shadow: 4px 9px 9px grey;
}

.MessageBubble {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 80%;
  margin: 10px;
  box-shadow: 5px 10px 10px grey;
  font-family: Arial, sans-serif;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}

.SenderName {
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 0;
}

.MessageDate {
  font-size: 0.6em;
  color: #5b5b5b;
  margin: 0;
  padding-top: 3px;
}

.MessageText {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.MonthHeading .nav-link {
  color: black;
  font-family: 'CyberFont', sans-serif;
  font-size: 18px;
  text-align: center;
}

.MonthHeading .nav-link.active {
  color: #ff0000 !important; 
}

.MonthHeading .nav-link:hover {
  color: #ccda38 !important;
}

/* CYBERPUNK MESSAGE: Colour per person */
.MessageBubble.Empex {
  background-color: #f4c29f; 
}

.MessageBubble.Katlyn {
  background-color: #e0a5f5;
}

.MessageBubble.Moetai {
  background-color: #c6b29d;
}

.MessageBubble.Talia {
  background-color: #9da0c6;
}

.MessageBubble.Jess {
  background-color: #6dff81;
}

.MessageBubble.Grizz {
  background-color: rgb(243, 85, 85);
}

.MessageBubble.Lyubov {
  background-color: rgb(241, 243, 121);
}

.MessageBubble.Princess {
  background-color: rgb(255, 144, 244);
}

.MessageBubble.Paisley {
  background-color: #d68a53; 
}

/* CYBERPUNK PAGES: News articles */
.NewsHeading {
  font-family: 'CyberFont', sans-serif;
  font-size: 26px;
  text-align: center;
  text-shadow: 
    -0.5px -0.5px 0 #ccda38,  
    0.5px -0.5px 0 #ccda38,
    -0.5px 0.5px 0 #ccda38,
    0.5px 0.5px 0 #ccda38;
}

.NewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.NewsContainer img {
  max-width: 100%;            
  height: auto;               
  display: block;
  margin-bottom: 15px;
}

/* CYBERPUNK PAGES: My character */
.MyCharacterContainer {
  border: 5px solid black; 
  border-radius: 12px;
  background-color: #ffffff; 
  height: auto;
  overflow-y: auto;
  box-shadow: 4px 9px 9px grey;
  padding: 5px;
  margin: 5px;
}

.GrizzImage {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 0;
}

.GrizzStatsHeading {
  font-family: 'CyberFont', sans-serif;
  font-size: 32px;
  text-align: center;
  text-shadow: 
    -0.5px -0.5px 0 #fb7272,  
    0.5px -0.5px 0 #fb7272,
    -0.5px 0.5px 0 #fb7272,
    0.5px 0.5px 0 #fb7272;
  padding: 10px;
  box-shadow: 0 0 20px 10px rgb(56, 56, 56); 
  position: relative;
  z-index: 1;
}

/* ALL PAGES: Back button */
.CyberpunkBackButton {
  font-family: 'CyberFont', sans-serif;
  font-size: 32px;
  border: 3px solid black;
  background: white;
  transition: box-shadow 0.3s ease;
  width: 100%;
}

.CyberpunkBackButton:hover {
  box-shadow: 0 0 20px 10px #fb7272; 
}



