.Header {
    position: sticky;
    top: 0;
    padding: 0px 0px;
    margin: 0;
}

.SectionHeading {
    top: 0;
    padding: 0px 0px;
    margin: 0;
}

body {
    border: 4px solid black; 
    background-color: rgb(224, 216, 203);
    margin: 0;             
    padding: 0px 0px;
}
